@import '_variables';
@import 'mixins';


*{
    margin: 0;
    padding: 0;
}

.contenedor{
    max-width:1100px;
    margin: 0 auto;
    
}

img{
    max-width:100%;
}



header{

    //Le aplico la separacion a los 3 hijos del header:

    margin-top: 18px;
    margin-bottom: 18px;

    .menu{
         background-color: black;
       
       

        ul{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));

            //diseño
            list-style: none;

            li {
                display: grid;
                text-align: center;

                &:hover{

                    background-color: $fondoverde;

                    a{
                        color: $fondoNegro;
                    }
                }

                a{
                    color: white;
                    text-decoration: none;
                    padding: 1rem;
                }
            }

           
        }
       

    }





}

/*Diseño del Main*/



.articulos{

    
   
    display: grid;
   
    @include web{

       
        grid-template-columns: minmax(10px, max-content) auto minmax(100px, max-content);
        grid-template-rows: repeat(5, auto);
        grid-gap: 10px;
        

    }

    /*Diseño del articulo de la informacion de la receta*/
    .info{

        background-color: $fondoverde;
        color: $colorBlanco;
        text-align: center;
        

        @include web{

            grid-column: 1/2;
            grid-row:2;
        }

        p{
            padding: 20px;
            font-size: 20px;
        }


    }


    h1{
        text-align: center;

        @include web{
            grid-column: 1/4;
            grid-row:1/2;


        }
        
       
    }

    /*Diseño de las imagenes que ahy en el main a derecha e izquierda*/

    .imagenDer{

        @include web{
            grid-column: 3/4;
            grid-row: 3/4;
        }

    }

    .imagenIzq{

        justify-self: center;
        

        @include web{
            grid-column: 1/2;
            grid-row: 4/5;
        }


    }

   

    //Incluyo todos los parrafos y el h2 en el mismo articulo con clase(textos)
    .textos{

        @include web{

            grid-column: 2/3;
            grid-row: 2/5;
        }

        p{
            padding: 10px;
        }

        h2{
            font-size: 25px;
            text-align: center;
        }

    }


}


 /*Diseño del Footer*/

    footer{
        background-color: $fondoverde;
       

        .recetas{

           
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            justify-content: space-around;

            li{
                list-style: none;
                
                
               

                    a{
                        color: gray;
                        text-decoration: none;
                       
                    }

            }

          


        }

        #copyright{
            background-color: $fondo_copyright;
            color: $colorBlanco;
            padding: 20px;

        }

    }





